<!DOCTYPE html>
<html ng-app= "bikeApp">
  <head>
    <meta charset="utf-8">
    <title>bikeApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
  <link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.css"/>
  <!-- <link rel="stylesheet" href="style.css"/> -->

  <!-- Google Maps API  **use the special PARAMS library for static map saved as an image?  -->

  <!-- JS Source -->
  <script src="vendors/angular/angular.js"></script>
  <script src="vendors/angular-route/angular-route.js"></script>
  <script src="vendors/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
  <script src="vendors/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
  <script src = "vendors/ng-file-upload/dist/ng-file-upload.js"></script>
  <script type="text/javascript"  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvg3_r7rbX0ylxvpWSwX8jL5DIvsQGibc&Libraries=geometry&sensor=true"></script>
  <!-- <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBvg3_r7rbX0ylxvpWSwX8jL5DIvsQGibc&sensor=true"></script> -->
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvg3_r7rbX0ylxvpWSwX8jL5DIvsQGibc&callback=initMap" async defer></script> -->

  <script src="scripts/bikeApp.module.js"></script>
  <script src="scripts/bikeApp.config.js"></script>
  <script src="scripts/gservice.js"></script>
  <script src="scripts/userService.js"></script>
  <script src="scripts/MainController.js"></script>
  <script src="scripts/ProfileController.js"></script>
  <script src="scripts/RegisterController.js"></script>
  <!-- <script src="scripts/gservice.js"></script> -->

  <base href="/" />
</head>
<body ng-controller = "MainController as main">

  <div class = "container">
    <div class="jumbotron">
      <img src="/vendors/riserhandlebars.jpg" />
      <h1>Welcome to a Life Behind Bars</h1>
      <p>
        Behind Bars is your solution to creating, saving, and sharing convenient bike routes around the Twin Cities.
      </p>

        {{main.message}}

    </div>
  </div>



<div class = "col-md-2">

  <div class="panel panel-default">
    <div class = "panel-heading">
      <h2 class= "panel-title text-center">Plan Your Life Behind Bars</h2>
    </div>

    <div class="panel-body">

          <label for="username">Username</label>
          <input type="text"  id="username"
          ng-model="main.username" required>
          <label for="password">Password</label>
          <input type="text"  id="password" ng-model="main.password" required />
          <!-- <h3 ng-show="main.showError">Incorrect username or password.  Try again or click 'Register'</h3> -->
        <button class = "btn btn-success btn-md" ng-click="main.loginUser()">Login</button>

    </div>
  </div>
</div>

<div class = "col-md-7">
  <div class = "panel pull-right">
    <div class = "panel-heading">
      <h2 class= "panel-title text-center">Create a New Profile</h2>
    </div>
    <div class="panel-body">

      <a href="/register"><button class= "btn btn-warning btn-md">Register</button></a>

      </div>
    </div>
</div>

<div  class = "col-md-10" ng-view class="loginOrRegisterDisplay">



</div>


</body>
</html>
