<div class="panel-body">
   <h1>Here are My Bike Routes and My Profile Info </h1>

   <div class = "well" ng-model = "profile.user">
     <h1>  Welcome,  {{profile.username}} !</h1>
      <h3>{{profile.about}}</h3>
      <div id="profilePic">
      <img ng-src= "/images/{{profile.profilePic}}" style="width: 150px; height: 100px"  />
      </div>
   </div>

   <div class = "container">
     <h2> My Saved Bike Routes </h2>
     <div class="expandcollapse-item">
       <button ng-click="active = !active" >See Routes</button>
       <div ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">

         <div class="slideDown" ng-show="active">
           <div class="expand-collapse-content">
             <div class = "well" ng-repeat= "route in profile.userRoutes track by $index">
               <div class = "well">

                 <p>Start: {{route.startLocation}}</p>
                 <p>End: {{route.endLocation}}</p>
                 <p>How I got there: {{route.comments}}</p>

                 <div id="routePic">
                   <img ng-src = "/images/{{route.routePic[0]}}"  style = "width: 200px; height: 250px" />
                 </div>

               </div>
             </div>

           </div>
         </div>
       </div>
     </div>
   </div>
      <div class = "row">

         <div class = "col-md-5">
           <div class = "panel panel-default">
             <form name = "newBikeRouteForm" enctype = "multipart/form-data" novalidate>
               <div class = "form-group">
                 <h1>Add a New Bike Route!</h1>
                 <label for="startLocation">Start Location: </label>
                 <input type="text" class = "form-control" id="startLocation" ng-model = "profile.formData.startLocation" />
                 <label for="endLocation">End Location: </label>
                 <input type="text" class = "form-control" id="endLocation" ng-model = "profile.formData.endLocation" />
                 <label for="comments">Tell us about your bike route: </label>
                 <input type="text" class = "form-control" id="comments" ng-model = "profile.formData.comments" />

                 <label for="images" id="routePic">Upload Photos of your route:  </label>
                 <input type= "file" ngf-select name= "file" ngf-pattern="image/*" accept= "image/*" ng-model="profile.formData.routePic" />

                 <label for="latitude">Latitude</label>
                 <input type="text" class="form-control" id="latitude" value="44.978" ng-model="profile.formData.latitude" readonly>

                 <label for="longitude">Longitude</label>
                 <input type="text" class="form-control" id="longitude" value="-93.265" ng-model="profile.formData.longitude" readonly>
               </div>
               <button type="submit" class= "btn btn-danger btn-md" ng-click="profile.newBikeRoute()">Save Bike Route</button>
             </form>
           </div>
         </div>

            <div class = "col-md-7 ">
              <div class = "panel">
                <div id="map" style= "width:400px; height:400px">

                </div>
                <button class = "btn btn-success btn-md" ng-click="profile.initMap()">New Map</button>

              </div>
           </div>
      </div>
    </div>
