<div class="panel-body">
   <h1>Here are My Bike Routes and My Profile Info </h1>

   <div class = "well" ng-model = "profile.user">
     <h1>  Welcome,  {{profile.username}} !</h1>
      <h3>{{profile.about}}</h3>
      <div id="profilePic">
      <img ng-src= "/images/{{profile.profilePic}}" style="width: 150px; height: 100px"  />
      </div>
   </div>

   <div class = "container">
     <h2> My Saved Bike Routes </h2>
     <div class="expandcollapse-item">
       <button ng-click="active = !active" >See Routes</button>
       <div ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">

         <div class="slideDown" ng-show="active">
           <div class="expand-collapse-content">
             <div class = "well" ng-repeat= "route in profile.userRoutes track by $index">
               <div class = "well">

                 <p>Start: {{route.startLocation}}</p>
                 <p>End: {{route.endLocation}}</p>
                 <p>How I got there: {{route.comments}}</p>

                 <div id="routePic">
                   <img ng-src = "/images/{{route.routePic[0]}}"  style = "width: 200px; height: 250px" />
                 </div>
                   <button ng-click= "profile.removeAction(item._id)" ng-model = "route">Delete</button>
               </div>
             </div>

           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
      <div class = "row">
        <div id= "newRoute">
         <div class = "col-md-4">
           <div class = "panel panel-default" style: "float: left">
             <form name = "newBikeRouteForm" enctype = "multipart/form-data" novalidate>
               <div class = "form-group">
                 <h1>Improve Bike Route</h1>
                 <label for="startLocation">Start Location: </label>
                 <input type="text" class = "form-control" id="startLocation" ng-model = "profile.formData.startLocation" />
                 <label for="endLocation">End Location: </label>
                 <input type="text" class = "form-control" id="endLocation" ng-model = "profile.formData.endLocation" />
                 <label for="comments">Tell us about your bike route: </label>
                 <input type="text" class = "form-control" id="comments" ng-model = "profile.formData.comments" />

                 <label for="images" id="routePic">Upload Photos of your route:  </label>
                 <input type= "file" ngf-select name= "file" ngf-pattern="image/*" accept= "image/*" ng-model="profile.formData.routePic" />
               </div>
               <button type="submit" class= "btn btn-danger btn-md" ng-click="profile.newBikeRoute()">Save Bike Route</button>
             </form>
           </div>
         </div>

            <div class = "col-md-8 ">
              <div class = "panel">
                <div id="map" style="float:left; width:400px; height:400px"></div>
                <div id="directionsPanel" style="float: right; width:350px; height:400px; overflow: auto">
                 <button ng-click= "profile.saveMap()" >Save Map and Directions</button>
                </div>
              </div>
                <button class = "btn btn-success btn-md" ng-click="profile.initMap()">New Map</button>
              <div id="locationSelection">
                <strong>Start: </strong>
                <select id="start" ng-model = "profile.start" ng-change="profile.calcRoute();">
                  <option value="minneapolis, mn"> </option>
                    <option value="minneapolis, mn">Minneapolis</option>
                    <option value="duluth, mn">Duluth</option>
                    <option value="st paul, mn">St Paul</option>
                    <option value="bloomington, mn">Bloomington</option>
                    <option value="st anthony main, minneapolis, mn">St Anthony Main</option>
                    <option value="university of minnesota, twin cities, mn">U of M</option>
                    <option value="lake of the isles, minneapolis, mn">Lake of the Isles</option>
                    <option value="lake calhoun, minneapolis, mn">Lake Calhoun</option>
                    <option value="st louis park, mn">SLP</option>
                    <option value="cedar lake, minneapolis, mn">Cedar Lake</option>

                  </select>
                  <strong>End: </strong>
                  <select id="end" ng-model="profile.end" ng-change="profile.calcRoute();">
                    <option value="st paul, mn"></option>
                    <option value="minneapolis, mn">Minneapolis</option>
                    <option value="duluth, mn">Duluth</option>
                    <option value="st paul, mn">St Paul</option>
                    <option value="bloomington, mn">Bloomington</option>
                    <option value="st anthony main, minneapolis,  mn">St Anthony Main</option>
                    <option value="university of minnesota, twin cities, mn">U of M</option>
                    <option value="lake of the isles, minneapolis, mn">Lake of the Isles</option>
                    <option value="lake calhoun, minneapolis, mn">Lake Calhoun</option>
                    <option value="st louis park, mn">SLP</option>
                    <option value="cedar lake, minneapolis, mn">Cedar Lake</option>

                  </select>

              </div>
           </div>
         </div>
      </div>
    <div class="container">
     <div class="row">
      <div class="span12">
       <div id="footer">

          <ul class="footer">

           <li>Application built by Katie Vogel</li>
           <li>Email:katiebvogel@gmail.com</li>
          <ul>

       </div>
    </div>
 </div>
</div>
